
.dai_box{
    height:100px;
    background-color:#6bdfd5;
}

.dai{
    text-align: center;
    color:black;
    padding-top: 18px;
}
.yabai{
    margin:0 auto;
    font-size: 20px;
    color: black;
}

.dance_all{
    width: 1050px;
    margin: 0px auto;
}

.box{
    height: 404px;
    width: 281.66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    padding: 50px;
    border: solid 3px #dfa559;
    border-radius: 10px;
    margin: 30px;
    color: black;
    background-color: #d1cce7;
}

.thumbnail_box{
    position: relative;
    height: 159.77px;
    width: 250.66px;
    border: solid 1px #0a0908;
}

.thumbnail img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.genre{
    height: 58px;
    width: 250.66px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
    height: 58px;
    width: 250.66px;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.button{
    text-align: right;
}

.show_title_box{
    height:75px;
    background-color:#6bdfd5;
}

.show_title{
    text-align: center;
    color: black;
    padding-top: 18px;
}

.show_movie_box{
    position: relative;
    width: 700px;
    height:500px;
    margin:0 auto;
    margin-top: 25px;
    padding: 20px;
    border: solid 1px #0a0908;
}

.show_movie{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show_box{
    width: 700px;
    height: auto;
    margin:0 auto;
    padding: 20px;
    border: solid 1px #6bdfd5;
    border-radius: 10px;
    background-color:  #6bdfd5;
    margin-top: 30px;
    margin-bottom: 50px;
}

.create_title{
    text-align: center;
}

.create{
    width: 470px;
    height: 500p;
    margin:0 auto;
    padding: 20px;
    border: solid 1px #6bdfd5;
    border-radius: 10px;
    background-color: #6bdfd5;
    margin-top: 30px;
}

.mypage_title{
    text-align: center;
}

.mypage_box{
    width: 400px;
    height: 500p;
    margin:0 auto;
    padding: 20px;
    border: solid 1px #6bdfd5;
    border-radius: 10px;
    background-color: #6bdfd5;
    margin-top: 30px;
}

.home{
    float: right;
    margin-top: 20px;
}

.comment_ran{
    text-align: center;
}

.comment{
    margin-top: 5px;
    text-align: center;
}

.comment_box{
    width: 400px;
    height: 500p;
    margin:0 auto;
}

.comment_all{
    width: 700px;
    height: auto;
    margin:0 auto;
    border: solid 1.5px ;
    border-radius: 10px;
    margin-top: 35px;
    background-color: rgb(184, 190, 192);
}

.comment_user{
   margin: 7px;
}

.paginate{
    display: flex;
    align-items: flex-end;
}

.comment_submit{
    float: right;
}

.iine{
    float:right;
}

